/* custom css for crystals game */

body {
    background-color: tomato;
    font-family: 'Orbitron', sans-serif;
}

.crystal-image {
    height: 200px;
    width: 200px;
}

.div-class {
    height: 100px;
    width: 100px;
    background-color: blue;
    margin: 10px;
    display: inline-block;
}

.div-class2 {
    height: 100px;
    width: 100px;
    background-color: white;
    margin: 10px;
    display: inline-block;
}

.div-class3 {
    height: 100px;
    width: 100px;
    background-color: green;
    margin: 10px;
    display: inline-block;
}

.div-class4 {
    height: 100px;
    width: 100px;
    background-color: yellow;
    margin: 10px;
    display: inline-block;
}

h1 {
    text-shadow: 2px 2px 8px rgba(150, 150, 150, 1);
}

#number-to-guess {
    color: #fff;
}

#player-score {
    color: blue;
}

#press-enter {
    color: blue;
}