/* custom css for crystals game */

body {
    background-color: tomato;
    font-family: 'Orbitron', sans-serif;
    letter-spacing: 1.4px;
}

.crystal-image {
    height: 200px;
    width: 200px;
}

h1 {
    text-shadow: 2px 2px 8px rgba(150, 150, 150, 1);
}

#number-to-guess {
    color: #fff;
}

#player-score {
    color: #fff;
}

#press-enter {
    color: #fff;
}